.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: red($color: #000000);

  &__side-bar {
    width: 300px;
    height: 100%;
    background-color: #253141;

    &__user-name {
      width: 300px;
      height: 100px;
      background-color: #253141;
      display: flex; 
      align-items: center;

      &__top-items {
        width: 260px;
        height: 20px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;

        &__name {
          width: calc(100% - 60px);
          height: 100%;
          color: #ffffff;
        }

        &__icons {
          width: 60px;
          height: 100%;
        }

        &__btn--fa-pen-square {
          color: #ffffff;
          margin-right: 5px;
        }

        &__btn--fa-cog {
          color: #ffffff;
        }
      }
    }

    &__group-list {
      width: 300px;
      height: calc(100% - 100px);
      background-color: #2f3e51;
      padding-top: 20px;

      &__top-items {
        color: #ffffff;
        height: 15px;
        width: 260px;
        margin: 0 20px;
        line-height: 15px;
      }

      &__second-items {
        color: #ffffff;
        height: 11px;
        width: 260px;
        margin: 0 20px;
        margin-top: 5px;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }

  &__chat-main {
    width: calc(100vw - 300px);
    height: 100%;
    background-color: #ffffff;

    &__group-infor {
      width: 100%;
      height: 100px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__group-all {
        width: 100%;
        height: 100%;
        margin: 0 40px;

        &__name {
          color: #333333;
          font-size: 20px;
          width: calc(100% - 72px);
          height: 30px;
          line-height: 30px;
          margin-top: 35px;
        }
  
        &__member {
          color: #999999;
          width: calc(100% - 72px);
          height: 15px;
          font-size: 12px;
          margin-top: 15px;
        }
      }

      &__edit-btn {
        font-size: 16px;
        color: #38aef0;
        width: 72px;
        height: 40px;
        margin: 0 40px;
        line-height: 40px;
        text-align: center;
      }

    }

    &__message-list {
      width: 100%;
      height: calc(100% - 190px);
      background-color: #fafafa;
    }

    &__message-form {
      width: 100%;
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}
