.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: red($color: #000000);

  &__side-bar {
    width: 300px;
    height: 100%;
    background-color: #253141;

    &__user-name {
      width: 300px;
      height: 100px;
      background-color: #253141;
      display: flex; 
      align-items: center; 

      &__top-items {
        width: 260px;
        height: 20px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;

        &__name {
          width: calc(100% - 60px);
          height: 100%;
          color: #ffffff;
        }

        &__icons {
          width: 60px;
          height: 100%;
        }

        &__btn--fa-pen-square {
          color: #ffffff;
          margin-right: 5px;
        }

        &__btn--fa-cog {
          color: #ffffff;
        }
      }
    }

    &__group-list {
      width: 300px;
      height: calc(100% - 100px);
      background-color: #2f3e51;
    }
  }

  &__chat-main {
    width: calc(100vw - 300px);
    height: 100%;
    background-color: #ffffff;

    &__group-infor {
      width: 100%;
      height: 100px;
      background-color: #ffffff;
    }

    &__message-list {
      width: 100%;
      height: calc(100% - 190px);
      background-color: #fafafa;
    }

    &__message-form {
      width: 100%;
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}
